*.pyc
*\~
*~
\#*
.#*
/.sconsign.dblite
/Local.sc.bck
/build
/debug
/docs/doxygen/
/logcabin*.conf
/scripts/localconfig.py
/smoketest*.conf
/benchtest*.conf
/smoketeststorage
/storage
/teststorage
GPATH
GRTAGS
GSYMS
GTAGS
libix/*.o
libix/*.a
